/*******
 * Hue *
 *******/

 section .red {
  color: #f44336;
}

section .pink {
  color: #e91e63;
}

section .purple {
  color: #9c27b0;
}

section .deep-purple {
  color: #673ab7;
}

section .indigo {
  color: #3f51b5;
}

section .blue {
  color: #2196f3;
}

section .light-blue {
  color: #03a9f4;
}

section .cyan {
  color: #00bcd4;
}

section .teal {
  color: #009688;
}

section .green {
  color: #4caf50;
}

section .light-green {
  color: #8bc34a;
}

section .lime {
  color: #cddc39;
}

section .yellow {
  color: #ffeb3b;
}

section .amber {
  color: #ffc107;
}

section .orange {
  color: #ff9800;
}

section .deep-orange {
  color: #ff5722;
}

section .brown {
  color: #795548;
}

section .grey {
  color: #9e9e9e;
}

section .blue-grey {
  color: #607d8b;
}

section .white {
  color: #fafafa;
}

section .black {
  color: #212121;
}

section .less {
  color: #1e416f;
}

section .sass {
  color: #cd679a;
}

section .stylus {
  color: #333333;
}
