/****************
 * Material Hue *
 ****************/

 $red: #f44336;
 $pink: #e91e63;
 $purple: #9c27b0;
 $deep-purple: #673ab7;
 $indigo: #3f51b5;
 $blue: #2196f3;
 $light-blue: #03a9f4;
 $cyan: #00bcd4;
 $teal: #009688;
 $green: #4caf50;
 $light-green: #8bc34a;
 $lime: #cddc39;
 $yellow: #ffeb3b;
 $amber: #ffc107;
 $orange: #ff9800;
 $deep-orange: #ff5722;
 $brown: #795548;
 $grey: #9e9e9e;
 $blue-grey: #607d8b;
 $white: #fafafa;
 $black: #212121;
 
 /*************
  * Brand Hue *
  *************/
 
 $less: #1e416f;
 $sass: #cd679a;
 $stylus: #333333;
 
 section {
   .red {
     color: $red;
   }
 
   .pink {
     color: $pink;
   }
 
   .purple {
     color: $purple;
   }
 
   .deep-purple {
     color: $deep-purple;
   }
 
   .indigo {
     color: $indigo;
   }
 
   .blue {
     color: $blue;
   }
 
   .light-blue {
     color: $light-blue;
   }
 
   .cyan {
     color: $cyan;
   }
 
   .teal {
     color: $teal;
   }
 
   .green {
     color: $green;
   }
 
   .light-green {
     color: $light-green;
   }
 
   .lime {
     color: $lime;
   }
 
   .yellow {
     color: $yellow;
   }
 
   .amber {
     color: $amber;
   }
 
   .orange {
     color: $orange;
   }
 
   .deep-orange {
     color: $deep-orange;
   }
 
   .brown {
     color: $brown;
   }
 
   .grey {
     color: $grey;
   }
 
   .blue-grey {
     color: $blue-grey;
   }
 
   .white {
     color: $white;
   }
 
   .black {
     color: $black;
   }
 
   .less {
     color: $less;
   }
 
   .sass {
     color: $sass;
   }
 
   .stylus {
     color: $stylus;
   }
 }
 