/********
 * Core *
 ********/

.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #2a2c2e;
}

.reveal .pause-overlay {
  background: #212121;
}

.reveal table th,
.reveal table td {
  border-bottom: 0px;
}

.reveal section img {
  padding: 0 2rem 0 2rem;
  border: 0px;
  box-shadow: none;
  height: 240px;
}

.reveal pre code {
  tab-size: 2;
  font-size: 120%;
  max-height: 100%;
}

.reveal .left {
  width: 50%;
  float: left;
}

.reveal .right {
  width: 50%;
  float: right;
}

/**********
 * Slides *
 **********/

section#title img {
  background: rgba(255, 255, 255, 0);
}

section#who-am-i img {
  height: 100px;
}

section#javascript img {
  padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

section#environment img {
  height: 220px;
}

section#node img {
  height: 160px;
}

section#dev-env img {
  height: 200px;
}

section#editors img {
  height: 200px;
}

section#linter .clearfix {
  margin-left: -1rem;
}

section#design .clearfix {
  height: 180px;
  margin-bottom: 30px;
}

section#transpiler img {
  padding: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  height: 260px;
}

section#dev-way h2 {
  position: absolute;
  right: 0;
}

section#dev-way h2.beginner {
  top: 580px;
}

section#dev-way h2.proficient {
  top: 430px;
}

section#dev-way h2.expert {
  top: 280px;
}

section#dev-way .clearfix {
  margin-top: 25rem;
}

/*********
 * React *
 *********/

section#topic-title img {
  background: rgba(255, 255, 255, 0);
}

section#mounting ul {
  list-style-type: none;
}

section#render-hooks img {
  height: 580px;
}

section#state-hooks img {
  height: 580px;
}

section#props-hooks img {
  height: 720px;
}

section#pure ol {
  min-width: 60%;
}

section#warning img {
  height: 580px;
}

section#warning .warning {
  position: absolute;
  top: 0;
  width: 100%;
}

section#warning .warning .left {
  text-align: right;
  width: 700px;
}

section#warning .warning .left .add {
  margin-top: 210px;
}

section#warning .warning .left .retrieve {
  margin-top: 365px;
}

section#warning .warning .right {
  text-align: left;
  width: 700px;
}

section#warning .warning .right .update {
  margin-top: 210px;
}

section#warning .warning .right .pure {
  margin-top: 225px;
}

section#warning .warning .right .fail {
  margin-top: 85px;
}

section#basic .files {
  list-style-type: circle;
}

section#complex .medium {
  font-size: 35px;
}

section#complex .small {
  font-size: 30px;
}

section#complex .directory {
  list-style-type: disc;
}

section#complex .files {
  list-style-type: circle;
}

section#router img {
  height: 200px;
}

section#nav ol {
  min-width: 60%;
}

section#concept img {
  height: 200px;
}

section#concept .clearfix {
  list-style-type: none;
}

section#without img {
  height: 530px;
}

section#with img {
  height: 560px;
  margin-right: 80px;
}

section#redux img {
  height: 200px;
}

section#virtual-dom img {
  height: 720px;
}

/***********
 * Circles *
 ***********/

.circle {
  position: absolute;
  line-height: 5em !important;
  border-radius: 50%; /* Circle */
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  color: #fafafa;
  font-size: 40px;
  margin: 0 auto 40px;
}

.circle.beginner {
  top: 500px;
  top: 520px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background-color: rgba(244, 67, 54, 0.5);
  border: 2px solid rgba(244, 67, 54, 0.7);
  z-index: 100;
}

.circle.proficient {
  top: 370px;
  left: calc(50% - 250px);
  width: 500px;
  height: 500px;
  background-color: rgba(255, 152, 0, 0.5);
  border: 2px solid rgba(255, 152, 0, 0.7);
  z-index: 80;
}

.circle.expert {
  left: calc(50% - 400px);
  width: 800px;
  height: 800px;
  background-color: rgba(76, 175, 80, 0.5);
  border: 2px solid rgba(76, 175, 80, 0.7);
  z-index: 60;
}

/*********
 * Table *
 *********/

.beautify-table.custom {
  padding-top: 75px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.beautify-table.custom .column1 {
  width: 20%;
}

.beautify-table.custom .column2 {
  width: 40%;
}

.beautify-table.custom .column2.fill {
  width: 80%;
}

.beautify-table.custom .column3 {
  width: 40%;
}

.beautify-table.custom th {
  font-size: 28px;
  color: #fafafa;
  line-height: 2.4;
  background-color: #2a2c2e;
}

.beautify-table.custom td {
  font-size: 25px;
  color: #212121;
  line-height: 2.4;
}

.beautify-table.custom .beautify-table-body {
  background-color: #fafafa;
}

.beautify-table.custom .beautify-table-body .alt {
  background-color: #eee;
}
